/* Centering the login box */
.login-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 88vh;
    background-color: #d9ecf1;
  }
  
  /* Login box styling */
  .login-box {
    background-color: white;
    padding: 40px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
  }
  
  .login-box h2 {
    margin-bottom: 20px;
    font-size: 24px;
    color: #333;
  }
  
  .login-box input {
    display: block;
    width: 100%;
    padding: 10px;
    margin-bottom: 20px;
    border: 1px solid #ddd;
    border-radius: 4px;
    font-size: 16px;
  }
  
  .login-box button {
    width: 100%;
    padding: 10px;
    background-color: #6495ED;
    color: white;
    border: none;
    border-radius: 4px;
    font-size: 16px;
    cursor: pointer;
    transition: background-color 0.3s ease;
  }
  button:hover {
    background-color: #3b70d2;
  }
  
  .login-box button:hover {
    background-color: #0056b3;
  }
  
  .login-button {
    margin-top: 10px;
  }
  
  .signup-button {
    margin-top: 10px;
    background-color: #6c757d;
  }
  
  .signup-button:hover {
    background-color: #5a6268;
  }
  
  /* Message text */
  .login-box p {
    margin-top: 10px;
    color: #333;
  }
  